name: CI/CD Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}

      - name: Copy files to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "mkdir -p ~/devops-demo"
          rsync -avz --exclude='.git/' ./ ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:~/devops-demo/

      - name: SSH into EC2 and restart Docker container
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
          cd ~/devops-demo &&
          docker stop devops-demo || true &&
          docker rm devops-demo || true &&
          docker pull verdun90/devops-demo:latest || true &&
          docker run -d -p 3000:3000 --name devops-demo verdun90/devops-demo:latest
          "

